{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
<style>
    .tr{
        cursor: pointer;
    }

    @media print{
    body{
        visibility: hidden;
    }

    #printtable{
        visibility: visible;
        width: auto;
        height: auto;
        margin-top: -600px;
        margin-left: -100px;
    }
}
h2{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma,;
    color:#dfe4e9;
  }
  .card{
        background: none;
    }
    tbody tr td{
        border: none;
        border-top: none;
        border-style: none;
        color:azure;
        justify-content: center;
    }
 

tr:hover {
  background-color : rgb(94, 94, 101);
  color: aliceblue;
cursor: pointer
}
    .btn {
  background-color: white;
  border: none;
  color: green;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: white;
}

</style>
<style>
    .bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    .bar .left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .bar .left input {
        height: 5vh;
    }

    .hidden {
        display: none;
    }

    @media print and (color) {
        * {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }
</style>

<div class="page-content">
    <div class="card radius-15">
        <div class="card-body">
            <div class="card-title">
                <center><h2 class="mb-0" style="font-size: 35px;color: rgb(218, 164, 48);">{{ company.company_name  }}</h2></center><br>
                <center><label  id="headline" style="font-size: 40px;color: rgb(218, 164, 48);">INVENTORY SALE REPORT </label></center>
                <center><p id="hdate" style="font-size: 20px;color: rgb(218, 164, 48);"></p></center>
            </div>
            <hr/>
        </div>
    </div>


    <div class="card radius-15">
        <div class="card-body">
            
                <form action="{% url 'productsale_filter' %}" method="post">
                    {% csrf_token %}
                    From <input type="date" id="d1" name="d1"  style="width: 20%; border-radius: 10px;padding: 8px;border: 3px solid rgb(214, 141, 5);" required>
                    To <input type="date" id="d2" name="d2"  style="width: 20%; border-radius: 10px;padding: 8px;border: 3px solid rgb(214, 141, 5);" required>
                    <button class=" fa fa-filter btn-warning btn-outline-light" style="padding: 10px;border-radius: 10px;background-color: rgb(214, 141, 5);color: white;"></button>
                    
                </form>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <div class="btn-group col-md-1 mt-2" style="float: right; height:5vh;">
                        <button class="btn" ><a href="{% url 'report_inventory_view' %}" class="fa fa-close" style="background: white; color: rgb(218, 164, 48);"></a></button>
                    </div>
                     <div class="btn-group col-md-1 mt-2" style="float: right; height:5vh;">
                        <a id="myBtn" class="btn btn-outline-info text-grey btn_pdf"
                            role="button" style="background: white; color: rgb(218, 164, 48);">  <i class="fa fa-file-pdf"></i> </a>
                    </div>
                    <div class="btn-group col-md-1 mt-2" style="float: right; height:5vh;">
                        <a id="printBtn" class="btn btn-outline-info text-grey btn_print"
                            role="button" onclick="printtable()"style="background: white; color: rgb(218, 164, 48);"><i class="fa fa-print"></i></a>
                    </div>
                    <div class="btn-group col-md-1 mt-2" style="float: right; height:5vh;">
    
                        <a class="btn btn-outline-info text-grey" onclick="ExportToExcel('xlsx')"style="background: white; color: rgb(218, 164, 48);">   <i class="fa fa-file-excel"></i></a>
                    </div>
                    
                 </div>
           
 
                  <BR>  
                    
                
    <div class="card radius-15 p-5" id="graph_div" style="display: none;background-color: #303232; color:rgb(218, 164, 48) ;">
        <div class="card-body">
            <canvas id="salesChart"></canvas>
        </div>
    </div>
    <div class="card radius-15 p-5" id="sales_div">
    <div class="row">
        <div class="col-md-4">
            <input name="party" list="party" class="form-control"  id="search" placeholder="Search Type..." style="color: rgb(255, 255, 255);background: transparent;width: 20vw;">
            
         
        </div></form>
        <div class="col-md-4"></div>
        <div class="btn-group col-md-1 mt-2" style="float: right; height:5vh;">
        
        </div>
   
  
        <div class="card radius-15 p-5" id="sales_div">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12" id="saletable">
                       
                         
                              
                           
                            <div class="table-responsive" >
                                <p style="text-align: right;color: black; display: none;" id="datediv">
                                    <span style="font-weight: bold;" >From Date : <span id="from"></span> </span><br> 
                                    <span style="font-weight: bold;" >To Date : <span id="to"></span></span>
                                  </p>
                                <table class="table table-hover " id="saletable" >
                                    <thead>
                                <thead>
                                    <tr>
                                        <th class="hidden"></th>
                                        <th class="center font-weight-dark border-dark" class="table" style=" color: rgb(218, 164, 48);">
                                          TYPE
                                        </th>
                                        <th class="center font-weight-dark border-dark"class="table" style=" color: rgb(218, 164, 48);">
                                           TYPE COUNT
                                        </th>
                                        <th class="center font-weight-dark border-dark" class="table" style=" color: rgb(218, 164, 48);">
                                            SALES PRICE
                                        </th>
                                        <th class="center font-weight-dark border-dark" class="table" style=" color: rgb(218, 164, 48);">
                                            SALES WITH TAX
                                        </th>
                                        <th class="center font-weight-dark border-dark" class="table" style=" color: rgb(218, 164, 48);">
                                          
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="tb">
                                    
                                        <tr class="tr">
                                            
                                            <td class="center text-white">Invoice</td> 
                                            <td class="center text-white">{{count}}</td> 
                                            
                                            <td class="center text-white">{{subsale}}</td>         
                                            <td class="center text-white">{{sale}}</td>   
                                                 
                                        </tr></a>

                                  <tr class="tr">
                                    <td class="center text-white" >Recurring_Invoice</td> 
                                    <td class="center text-white">{{count1}}</td>  
                                   
                                    <td class="center text-white">{{subsale1}}</td>         
                                    <td class="center text-white">{{sale1}}</td>          
                                   
                                </tr></a>
                                <tr class="tr">
                                    <td class="center text-white" >Estimates</td> 
                                    <td class="center text-white">{{count2}}</td>  
                                   
                                    <td class="center text-white">{{subsale2}}</td>         
                                    <td class="center text-white">{{sale2}}</td>          
                                   
                                </tr>
                                <tr class="tr">
                                    <td class="center text-white" >Sales_Order</td> 
                                    <td class="center text-white">{{count3}}</td>  
                                   
                                    <td class="center text-white">{{subsale3}}</td>         
                                    <td class="center text-white">{{sale3}}</td>          
                                   
                                </tr>

                            
                        </tbody>
                            </table>
                        </div>
                      
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        function calctot(col, id) {
            var total = 0;

            $("#saletable tbody tr").each(function () {
                var amount = parseFloat($(this).find("td:eq(" + col + ")").text()) || 0;
                total += amount;
            });
            $("#toq" + id).text( ''+total.toFixed(2)); // 
            $("#" + id).text('₹' + total.toFixed(2)); // Display total with two decimal places

            $("#totvalue").text('₹' + total.toFixed(2));
        }
        calctot(2, 'toq');
        calctot(3, 'tot');
        calctot(4, 'balance'); // Call the function initially
    });
</script>

<script>

    $(document).ready(function () {
        function calctot(col, id) {
            var total = 0;

            $("#saletable1 tbody tr").each(function () {
                var amount = parseFloat($(this).find("td:eq(" + col + ")").text()) || 0;
                total += amount;
            });
            $("#toq1" + id).text( ''+total.toFixed(2)); // 
            $("#" + id).text('₹' + total.toFixed(2)); // Display total with two decimal places

            $("#totvalue1").text('₹' + total.toFixed(2));
        }
        calctot(2, 'toq1');
        calctot(3, 'tot1');
        calctot(4, 'balance1'); // Call the function initially
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('salesChart').getContext('2d');

const myChart = new Chart(ctx, {
   type: "bar",
    data: {
        labels: [],
        datasets: [{
            label: 'Data',
            data: [],
            backgroundColor: 'rgb(218, 164, 48)',
            borderColor: 'rgb(218, 164, 48)',
            borderWidth: .1,
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

function addDataPoint() {
    const tableData = extractDataFromTable();
    const dates = tableData.map(item => item.date);
    const sales = tableData.map(item => item.sales); 

    var fromDate = document.getElementById('fromdate').value;   
    var toDate = document.getElementById('todate').value;
    if(dates[0] != fromDate){
      dates.unshift(fromDate)
      sales.unshift(null)
    }
    if(dates[dates.length - 1] != toDate){
      dates.push(toDate)
      sales.push(null)
    }

    myChart.data.labels = dates;
    myChart.data.datasets[0].data = sales;
    // Redraw the chart
    myChart.update();
}

function graphdiv(){
    $('#graph_div').toggle();
    $('#sales_div').toggle();
    addDataPoint()
}

function extractDataFromTable() {
    const table = document.getElementById('tb');
    const rows = table.getElementsByTagName('tr');
    
    const data = [];
    
    for (let i = 0; i < rows.length; i++) {
        if (window.getComputedStyle(rows[i]).display !== 'none') {
            const cells = rows[i].getElementsByTagName('td');
            const date = cells[0].textContent;
            const sales = parseInt(cells[2].textContent);
            data.push({ date, sales });
        }
    }
    
    return data;
}
</script>

<script>
$(document).ready(function() {
    var $rows = $('.table tbody tr');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
        $rows.show().filter(function() {
            console.log($rows.show())

            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            console.log(text)
            return !~text.indexOf(val);
        }).hide();
    });
});
</script>


<script>
function ApplyDateFilter() { 

    var fromDate = document.getElementById('fromdate').value;
    var toDate = document.getElementById('todate').value;
    document.getElementById("datediv").style.display = "block";
    document.getElementById("from").innerHTML = fromDate;
    document.getElementById("to").innerHTML = toDate;
    document.getElementById("hdate").innerHTML = fromDate +" to " + toDate;
    table = document.getElementById("saletable");
    tr = table.getElementsByTagName("tr");
 
    for (i = 1; i < tr.length; i++) {
        let rowVisible = false;
        td = tr[i].getElementsByTagName("td");

        // Loop through all table cells (columns) in each row
        for (j = 0; j < td.length; j++) {
           
            if (td[j]) {
                txtValue = td[j].textContent || td[j].innerText;
                var check = new Date(txtValue)
                var from = new Date(fromDate);
                var to = new Date(toDate);
                if(check >= from && check <= to){
                    rowVisible = true;
                    break;
                }
            }
        }

        // Show/hide the row based on the search results
        tr[i].style.display = rowVisible ? "" : "none";
    }
}

</script>

<script>
const fromDateInput = document.getElementById("fromdate");
const toDateInput = document.getElementById("todate"); 
fromDateInput.addEventListener("change", ApplyDateFilter);
toDateInput.addEventListener("change", ApplyDateFilter);
fromDateInput.addEventListener("change", addDataPoint);
toDateInput.addEventListener("change", addDataPoint);
</script>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

<script type="text/javascript">
function ExportToExcel(type, fn, dl) {
var elt = document.getElementById('saletable');
var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
return dl ?
    XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
    XLSX.writeFile(wb, fn || ('product sale report.' + (type || 'xlsx')));
}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>

<script type="text/javascript">
$(document).ready(function ($) {
    $(document).on('click', '.btn_pdf', function (event) {
        event.preventDefault();
        var element = document.getElementById('saletable');  
        element.style.color = 'white';
        element.style.backgroundColor = 'black';
        var opt =
        {
            margin: 1,
            filename: 'sales_summary_report' + '.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2 },
            jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait', }
        };
        html2pdf().set(opt).from(element).save();
    });
});
</script>

<script>

    function printtable(){
        var printContents = document.getElementById("saletable").innerHTML;

        var $printerDiv = $('<div class="printContainer"></div>'); // create the div that will contain the stuff to be printed
        $printerDiv.html(printContents); // add the content to be printed
        $('body').append($printerDiv).addClass("printingContent"); // add the div to body, and make the body aware of printing (we apply a set of css styles to the body to hide its contents)

        window.print(); // call print
        $printerDiv.remove(); // remove the div
        $('body').removeClass("printingContent");
    }

</script>
<script>
     function selectParty() {
        document.getElementById("search").addEventListener("input", function () {
            var filterValue = this.value.toLowerCase();
            var table = document.getElementById("saletable");
            var rows = table.getElementsByTagName("tr");

            
            if (document.getElementById("in1").value == '' && document.getElementById("in2").value == '') {
                for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the table header row
                    
                    var firstColumnValue = rows[i].getElementsByTagName("td")[0].textContent.toLowerCase();

                    if (firstColumnValue.indexOf(filterValue) > -1) {

                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }

                }

            }
            else {
                var startDate = new Date(document.getElementById("in1").value);
            var endDate = new Date(document.getElementById("in2").value);
                for (var i = 1; i < rows.length; i++) {
                    var firstColumnValue = rows[i].getElementsByTagName("td")[0].textContent.toLowerCase();
                    var row = rows[i];
                    var dateCell = row.cells[1];
                    var rowDate = new Date(dateCell.textContent);

                    if (rowDate >= startDate && rowDate <= endDate ) {
                        row.style.display = "";
                    } else {
                        row.style.display = "none";
                    }

                }
            }




        });
    }
selectParty();
const inputElement = document.querySelector('input[name="party"]');
const headlineElement = document.getElementById('headline');
inputElement.addEventListener('input', function () {

    const selectedValue = inputElement.value;
    if (selectedValue == '') {
        head = 'PRODUCT SALE REPORT'
    }
    else {
        head = selectedValue + '  SALE REPORT';
    }
    headlineElement.textContent = head.toUpperCase();

});



</script>
<script>
    $(document).ready(function(){
        var empsalary;
        var total = 0;
        $('td:nth-child(2)').each(function()
        {
            salary = $(this).html();
            total +=parseFloat(salary);
            $('#t1').text(total)
        });
    });
</script>

{% endblock %}