

{% extends 'base.html' %}
{% block content %}
{% load static %}

<script src=https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.0/xlsx.full.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/trash.css' rel='stylesheet'>
<script src="https://cdn.jsdelivr.net/bootstrap.datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>




<style>
    .card{
        background: none;
    }
    tbody tr td{
        border: none;
        border-top: none;
        border-style: none;
        color:azure;
        justify-content: center;
    }
    tr:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }
   
    ul.image-bullets {
        list-style-type: none;
        padding-left: 30px;
    }

    ul.image-bullets li:before {
        content: "";
        background-image: url('static/images/bullet.png');
        background-size: 15px 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-right: 5px; 
        margin-left: 26%;
    }
    .recurpoints ul li{
        margin-bottom: 10px;
    }

    .flowchart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
}

    .flowchart-item {
        text-align: center;
        padding: 10px;
        background-color: lightblue;
        border: 3px solid rgb(25, 91, 145);
        border-radius: 5px;
        width: 150px;
        color: black;
        font-size: 12px;
    }
    .flowchart-item i{
        font-size: 15px;
    }

    .flowchart-connector {
        flex-grow: 1;
        height: 2px;
        background-color: #ccc;
        margin-top: 0%;

    }
    
    @media (max-width: 768px) {
        .flowchart {
            flex-direction: column;
            align-items: center;
        }

        .flowchart-item {
            width: 120px;
        }
        .flowchart-connector {
            height: 50px;
            width: 2px; 
            margin-left: 0%; 
            transform: translateX(-50%);
        }
    }
    .btn{
        color: rgb(218, 164, 48);
        outline-color: azure;
        border: 2px solid rgb(25, 91, 145);
    }
    .btn:hover{
        color: darkslategray;
        background-color: lightblue;
        outline: none;
        
    }
    a{
        list-style: none;
        color: azure;
    }
     a:hover{
        color: rgb(218, 164, 48);
     }
     ::-webkit-scrollbar {
        width: 5px; 
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    
</style>

        <div class="card radius-15" >
            <div class="card-body">
                <div class="card-title">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="mb-0 text text-right">All Customers</h2>
                        </div>
                        <div class="col-md-2">
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card radius-15 mb-5">
            <div class="card-body">
                <div class="row">
                    <div class=" col-md-3">
                        <input type="text" id="search" placeholder="Search..." class="form-control text-dark bg-light px-3 py-2" autocomplete="off">
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <button class="btn btn-outline-warning dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort
                            </button>
                            <div class="dropdown-menu ">
                                <a class="dropdown-item" href="{% url 'view_customr' %}">All</a>
                                <a class="dropdown-item" href="{% url 'view_customr_sname' %}">Name</a>
                                <a class="dropdown-item" href="{% url 'amtcus' %}">Amount</a>
                
                
                            </div>
                        </div>
                    </div>
                        
                        

                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        
                        <a class="btn text-center px-3 py-2 " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        role="button"><i class="fa fa-filter mx-3"></i>
                        </a>
                        <div class="dropdown-menu ">
                            <a class="dropdown-item" href="{% url 'view_customr' %}">All</a>
                            <a  class="dropdown-item" href="{% url 'active_cust' %}">Active</a>
                            <a  class="dropdown-item" href="{% url 'inactive_cust' %}">Inactive</a>
                  
                        </div>
                        <a href="{% url 'add_customers' %}" class="btn fa fa-plus text-right px-3 py-2" role="button">
                            <span class="mt-2">&nbsp;&nbsp;NEW</span>
                        </a>
                    </div>
                </div>
                <div class="container-fluid ">
                    <div class="col-md-2"></div>
                    <div class="col-md-3 text-right" style="margin-left: 6vh;">
                      
                          <div class="right">
                        <button class="btn mt-3" type="button" onclick="ExportToExcel()" style="margin-right: 2vh; margin-left: 5vh;">
                            <i class="fa fa-file-excel"></i> 
                            <br><span style="color: black; font-size: small; font-weight: bold;">Excel</span>
                        </button>
                     
                        <button style="width: 2.5rem; background-color: chocolate; color: black; border-radius: 3px; margin-left: 10px;" class="open-button" onclick="openForm()">+</button>
                
                        <button class="btn btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#importEstimate" title="IMPORT"><span><img width="22px" src="{% static 'images/import.png' %}" alt="IMPORT"></span></button>
                    </div>
                </div>
                <hr>
                <div class="container-fluid" id="exceltable" id="allcustomer">
                    <table class="table table-responsive-md mt-4" id="table" >
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>GST Type</th>
                                <th>GST Number</th> 
                <th>Email</th>
               
                <th>Opening Balance</th>
                <th>Status</th>
                <th>Delete</th>
                <th></th>
                            </tr>
                        </thead>
                        {% for v in vc %}
                        <tr>
               
                         
                          <td><a href="{% url 'view_one_customer' v.id %}" style="color: white;">{{v.customerName}}</a></td>
                          <td><a href="{% url 'view_one_customer' v.id %}" style="color: white;">{{v.GSTTreatment}}</a></td>
                          <td><a href="{% url 'view_one_customer' v.id  %}" style="color: white;" >{{v.GSTIN}}</a></td>
                          <td><a href="{% url 'view_one_customer' v.id %}" style="color: white;">{{v.customerEmail}}</a></td>

                          <td><a href="{% url 'view_one_customer' v.id  %}" style="color: white;" >{{v.OpeningBalance}}</a></td>
                          <td><a href="{% url 'view_one_customer' v.id  %}" style="color: white;" >{{v.status}}</a></td>
                          <td><a href="{% url 'view_one_customer' v.id  %}" style="color: white;" >{{v.creditlimit}}</a></td>
                          <td class="text-right">
                            <a href="{% url 'delete_customr' v.id %}" 
                            data-toggle="tooltip" data-placement="top" title="Delete Recurring Invoice">
                                    <i class="gg-trash text-center text-danger"></i>
                            </a>
                        </td>
                          
                          
                         
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>       
       
                

        
        <div class="modal fade" id="importEstimate">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                 
                        <div class="d-flex justify-content-between">
                            <h3 class="m-3">IMPORT ESTIMATE</h3>
                            <button type="button" class="btn fs-4" data-bs-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="file_instructions">
                            <div class="alert alert-danger" role="alert">
                                <span class="fw-bolder">IMPORTANT:</span>
                                <p>File should have 2 sheets named 'estimate' & 'items' and column name & order should be in the given formate(Uppercase).</p>
                                <p class="fw-bolder">Estimate sheet - SLNO*, DATE, NAME*, STATE OF SUPPLY*, DESCRIPTION, SUB TOTAL*, IGST*, CGST*, SGST*, TAX AMOUNT*, ADJUSTMENT, GRAND TOTAL* </p>
                                <p class="fw-bolder">Items sheet - ESTIMATE NO**, NAME*, HSN*, QUANTITY*, PRICE*, TAX PERCENTAGE*, DISCOUNT, TOTAL* </p>
                                <p>* All required columns should be filled.</p>
                                <p>** <b>ESTIMATE NO</b> is <b>SLNO</b> of estimate</p>
                                <p>State of supply should be '<b>State</b>' or '<b>Other State</b>'. State -> CGST* & SGST*, Other State -> IGST*</p>
                                <p>Date format should be 'YYYY-MM-DD' or 'DD-MM-YYYY'.</p>
                            </div>
                        </div>
                        <div class="sample_file mb-2">
                            <a href="" class="fw-bolder">Download Sample File</a>
                        </div>
                        <form id="importEstimateForm" action="{% url 'import_purchase_bill' %}" method="POST" class="form" enctype="multipart/form-data">
                            <form onsubmit="event.preventDefault(); addUnit();" class="form-container" id="unitForm"></form>
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="excel_file" class="form-label">File</label>
                                <input id="excel_file" class="form-control" type="file" name="excel_file" required>
                            </div>
                            <div class="d-flex justify-content-center mt-2">
                                <input id="submit_import_excel" value="IMPORT" class="btn btn-info bg-gradient" type="submit">
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-popup" id="myForm">
         
               
                        <div class="modal-content">  
                <div class="d-flex justify-content-between">
                    <h3 class="m-3">IMPORT ESTIMATE</h3>
                    <button type="button" class="btn fs-4" data-bs-dismiss="modal" aria-label="Close" onclick="closeForm()"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="file_instructions">
                    <div class="alert alert-danger" role="alert">
                        <span class="fw-bolder">IMPORTANT:</span>
                        <p>File should have 2 sheets named 'estimate' & 'items' and column name & order should be in the given formate(Uppercase).</p>
                        <p class="fw-bolder">Estimate sheet - SLNO*, DATE, NAME*, STATE OF SUPPLY*, DESCRIPTION, SUB TOTAL*, IGST*, CGST*, SGST*, TAX AMOUNT*, ADJUSTMENT, GRAND TOTAL* </p>
                        <p class="fw-bolder">Items sheet - ESTIMATE NO**, NAME*, HSN*, QUANTITY*, PRICE*, TAX PERCENTAGE*, DISCOUNT, TOTAL* </p>
                        <p>* All required columns should be filled.</p>
                        <p>** <b>ESTIMATE NO</b> is <b>SLNO</b> of estimate</p>
                        <p>State of supply should be '<b>State</b>' or '<b>Other State</b>'. State -> CGST* & SGST*, Other State -> IGST*</p>
                        <p>Date format should be 'YYYY-MM-DD' or 'DD-MM-YYYY'.</p>
                    </div>
                </div>
                <div class="sample_file mb-2">
                    <a href="" class="fw-bolder">Download Sample File</a>
                </div>
               
            <form onsubmit="event.preventDefault(); addUnit();" class="form-container" id="unitForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="excel_file" class="form-label">File</label>
                    <input id="excel_file" class="form-control" type="file" name="excel_file" required>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <input id="submit_import_excel" value="IMPORT" class="btn btn-info bg-gradient" type="submit">
                </div>
                
              
            </form>
          </div>
          
          
            
      
<script>
  $(document).ready(function() {
    var $rows = $('#table tbody tr');
    $('#search').keyup(function() {
      var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
      $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
      }).hide();
    });
  });


$('.dropdown-toggle').dropdown();

 
</script>
<script>
    function excelmodel(){
        const table1 = document.querySelector('#allcustomer');
        const ws1 = XLSX.utils.table_to_sheet(table1);
        const wb1 = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb1, ws1, 'Sheet1');
        XLSX.writeFile(wb1, 'All customer.xlsx');

       
    }
</script>
<script>
    function ExportToExcel(){
        const table = document.querySelector('#exceltable');
        const ws = XLSX.utils.table_to_sheet(table);
        const wb = XLSX.utils.book_new();
        XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
        XLSX.writeFile(wb, 'All customer.xlsx');
    }
</script>
<script>
    function addUnit() {
    // Get the form and form data
    let unitForm = document.getElementById("unitForm");
    let formData = new FormData(unitForm);

    // Send the form data through AJAX
    $.ajax({
        url: "{% url 'import_purchase_bill' %}",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
            const unitName = response.unit_name;
            const unitId = response.unit_id; // Assume the server returns the unit ID

            // Handle the success response
            console.log(response);

            // Get the dropdown element
            const dropdown = document.getElementById("unit");

            // Create and add the new unit option
            const newUnitOption = document.createElement("option");
            newUnitOption.value = unitId;
            newUnitOption.text = unitName;

            // Add the new unit option to the dropdown
            dropdown.add(newUnitOption);

            // Select the newly added unit option to display it as the current selection
            newUnitOption.selected = true;

            // Close the form and perform any other actions
            closeForm();
        },
        error: function (error) {
            // Handle the error response
            console.log(error);
        }
    });
}

    function openForm() {
    let formContainer = document.getElementById("myForm");
    formContainer.style.display = "block";
}

function closeForm() {
    let formContainer = document.getElementById("myForm");
    formContainer.style.display = "none";
}

</script>
</section>
{% endblock %}